.main {
  background: url("/images/main-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  height: 420px;
  padding: 50px 50px;
  box-sizing: border-box;
  margin: 0 20px;
}
.main__title {
  margin: 0;
  font-size: 38px;
  font-weight: 700;
  color: #cecece;
  font-family: 'Jura', sans-serif;
  text-align: center;
}
.main__red {
  color: #e10000;
}