.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 300px;
  height: 200px;
  opacity: 0.5;
  border: 1px solid #555;
  margin: 20px;
}
.card:hover {
  opacity: 1;
  transition: all 0.7s ease;
  cursor: pointer;
}
.card__title {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  font-family: "Jura", sans-serif;
  margin: 0;
  padding-top: 5px;
}