.header {
  padding: 15px;
  overflow: hidden;
  margin-bottom: 20px;
}
.logo {
  display: inline-block;
  width: 350px;
  padding-top: 5px;
  font-family: 'Orbitron', sans-serif;
  color: #333;
  font-size: 30px;
  font-weight: 700;
}
.logo__red {
  color: #e10000;
}
.mainNav {
  float: right;
}
.mainNav__list {
  margin: 0;
  padding-top: 5px;
}
.mainNav__item {
  display: inline-block;
  margin-right: 30px;
}
.mainNav-link{
  text-decoration: none;
  color: #333;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Jura', sans-serif;
}
.mainNav-link:hover {
  color: #e10000;
}