body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.container {
  max-width: 1170px;
  min-width: 320px;
  height: auto;
  margin: 0 auto;
}